<div class="contener">
  <div class="row">
    <div class="col">
      <%= form_with model: post do |f| %>
        <!--完成画像-->
        <%= f.file_field :complete_image, accept: "image/*" %>
        <div class="material">
          <%= f.field_
        </div>
      
      
      
      
      <% end %>
    </div>
  </div>
</div>