<% materials.each do |material| %>
  <ul class="row d-flex flex-wrap list-group-flush border-bottom">
    <div class="d-flex">
      <li>
        <span class="material_name col-8 col-md-6"><%= material.name %></span>
        <span class="material_amount col-4 col-md-5"><%= material.amount %>個</span>
      </li>
    </div>
  </ul>
<% end %>