<% materials.each do |material| %>
  <ul class="list-group-flush col-6">
    <li class="list-group-item p-0">
      <div class="d-flex">
        ・<%= material.name %>
        <span class="ml-3"><%= material.amount %>個</span>
      </div>
    </li>
  </ul>
<% end %>