<% recipes.each do |recipe| %>
    <ul class="list-group my-1">
      <li class="list-group-item">
        <div class="d-flex">
          <div class="flex-shrink-0">
            <%= image_tag recipe.get_recipe_image, size: "100x100"%>
          </div>
          <div class="flex-grow-1 ms-3 ml-3">
            <%= recipe.instructions %>
          </div>
        </div>
      </li>
    </ul>
<% end %>