<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'layouts/side_bar' %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h4>投稿一覧</h4>
      <% if @posts.exists? %>
        <%= render 'index', posts: @posts %>
      <% else %>
        <h6>投稿はされていません</h6>
      <% end %>
    </div>
  </div>
</div>