<div class="container">
  <div class="row">
    <div class="col">
      <% if @posts.exists? %>
        <%= render 'index', posts: @posts %>
      <% else %>
        <h6>投稿はされていません</h6>
      <% end %>
    </div>
  </div>
</div>