<div class="row">
  <div class="col-12 col-md-10 col-lg-6">
    <% if @model == "ユーザー" %>
      <h4>ユーザー検索　「<%= @word %>」の結果</h4>
        <%= render 'public/users/index', users: @records %>
    <% else %>
      <h4>投稿検索　「<%= @word %>」の結果</h4>
        <%= render 'public/posts/index', posts: @records %>
    <% end %>
  </div>
</div>

