<div class="row justify-content-md-center">
  <div class="col-md-6">
      <h3 class="text-center">Oshi Lifeとは</h3>
    <p class="text-center">
      多くの「推し活」のやり方が集まる<br>
      「推し活」をより楽しむための情報共有サイトです！
    </p>
  </div>
</div>
<div class="row mt-5 justify-content-md-center">
  <div class="col-md-6">
    <h5 class="text-center">推し活とは？</h5>
    <p class="text-center">
      アイドルやキャラクターなどの「推し」<br>
      いわゆるご贔屓を愛でたり応援したりする<br>
      「推しを様々な形で応援する活動」することです。<br>
      みんなで楽しい「推し活」をしましょう！！
    </p>
  </div>
</div>