<div class="row justify-content-center">
  <div class="col-5 col-md-4 col-lg-3 text-center">
    <h3 class="mb-5">Oshi Life</h3>
    <p>OshiLifeとは</p>
    <p>推し活とは</p>
    <p></p>
  </div>
  <div class="col-7 col-md-6 col-lg-4 text-center">
    <%= image_tag 'no_image_square.jpg', size: "180x180" %>
  </div>
</div>

<div class="row justify-content-center mt-5">
  <div class="col-5 offset-7">
    <h4>OshiLifeとは</h4>
    <p class="mb-5">
      多くの「推し活」の<br>
      やり方が集まる<br>
      「推し活」をより楽しむための<br>
      情報共有サイトです！<br>
    </p>
  </div>
</div>
  <div class="row justify-content-center">
    <p class="col-11">
      「推し活」を始めたばかりの時<br>
      「痛バッグを作ってみたい！」<br>
      「うちわを作ってライブに行きたい」と<br>
      思ったことはありませんか？<br>
      でも、いざ作ろうと思って<br>
      一つ一つサイトや<br>
      ブログを探すのは大変だったり<br>
      もっと簡単に情報を集めたいという想いから<br>
      「OshiLife」を立ち上げ上げました。<br>
    </p>
  </div>
<div class="row mt-5 justify-content-center">
  <div class="col-12">
    <h3 class="mb-4">推し活とは？</h3>
    <p>
      アイドルやキャラクターなどの「推し」<br>
      いわゆるご贔屓を愛でたり<br>
      応援したりする<br>
      「推しを様々な形で応援する活動」<br>
      みんなで楽しい「推し活」をしましょう！！
    </p>
  </div>
</div>