<div class="row justify-content-center">
  <div class="col-5 col-md-4 col-lg-3 text-center border-bottom">
    <h3 class="mb-4">Oshi Life</h3>
    <p>OshiLifeとは</p>
    <p>推し活とは</p>
  </div>
  <div class="col-7 col-md-6 col-lg-3 text-center border-bottom pb-1">
    <%= image_tag 'otaku.jpg', size: "180x160", style: "object-fit: cover;"%>
  </div>
</div>

<div class="row justify-content-center mt-5">
  <div class="col-6 col-md-4 col-lg-3 border-bottom text-center pb-1">
    <%= image_tag 'share.jpg', size: "185x140" %>
  </div>
  <div class="col-6 col-md-6 col-lg-3 border-bottom custom_text">
    <h4>OshiLifeとは</h4>
    <p class="mb-5">
      多くの「推し活」の<br>
      やり方が集まる<br>
      「推し活」をより楽しむための<br>
      情報共有サイトです！<br>
    </p>
  </div>
</div>
  <div class="row justify-content-center mb-4">
    <p class="col-12 col-md-10 col-lg-6 text-center border-bottom py-5">
      「推し活」を始めたばかりの時<br>
      「痛バッグを作ってみたい！」<br>
      「うちわを作ってライブに行きたい」<br>
      そう思ったことはありませんか？<br>
      しかし、いざ作ろうと思って<br>
      一つ一つサイトやブログを探すのは大変です。<br>
      簡単に情報を集めて皆さんと<br>
      もっと「推し活」を楽しみたい想いから<br>
      「OshiLife」を立ち上げ上げました。<br>
    </p>
  </div>
<div class="row justify-content-center my-2">
  <div class="col-7 col-md-5 col-lg-3 text-center">
    <%= image_tag 'osikatu.jpg', size: "180x160"%>
  </div>
  <div class="col-5 col-md-5 col-lg-3">

    <h4 class="mb-4">推し活とは？</h4>
    <p>
      アイドルやキャラクターなどの「推し」<br>
      ご贔屓を愛でたり<br>
      応援したりする<br>
      「推しを様々な形で応援する活動」…<br>
      みんなで楽しい「推し活」をしましょう！！
    </p>
  </div>
</div>