<div class="d-flex justify-content-end my-chat m-1 text-center">
  <div class="chat-bubble rounded">
    <span id="chat_<%= chat.id %>" style= "background-color: #ededd5;" class="p-1 rounded">
      <%= chat.message %>
    </span>
  </div>
    <%= link_to chat_path(chat), method: :delete, remote: true, id: "delete_chat_#{chat.id}",class: "btn btn-sm btn-outline-danger ml-2" do %>
      <i class="fa-solid fa-trash-can" style="color: red; "></i>
    <% end %>
</div>