<h4 class="text-center my-5">「<%= @genre.name %>」　一覧</h4>
<div class="row justify-content-center d-flex flex-wrap mb-3">
  <% if @genre.posts.exists? %>
    <%= render 'admin/homes/index', posts: @posts %>
  <% else %>
    <h4 class="my-5">まだ投稿はありません。</h4>
  <% end %>
</div>
<div class="row justify-content-center mb-5">
  <div class="col-6">
    <%= paginate @main_genres %>
  </div>
</div>