@use '~bootstrap/scss/bootstrap';

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fffbfa;
}

.notice{
  background-color: #ccffe2;
  color:#3eb370;
}

.alert{
  color: #ff0000;
}

nav{
  background-color: #e9c9d5;
}

footer {
  margin-top: auto;
}

.card{
  background-color: #fffef7;
  border: 0.3px solid #a2d7dd;
}


// ボタン、リンク色変更
.button_radio{
  margin-right: 10%;
}

.links{
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  color: #9d9d82;
}

.btn_add{
  background-color: #9d9d82;
  color: #fff;
}

.btn_post{
  background-color: #9cbf68;
  color: #fff;
}

.post_btn{
  display: flex;
  justify-content: center;
}


.btn_delete{
  background-color: #a6175a;
  color: #fff;
}

.btn_without, .btn_follow{
  background-color: #87b2d9;
  color: #fff;
}

.btn_followed, .btn_search{
  background-color: #a2d7dd;
  color: #fff;
}

// 文字色変更
.name_link, .card-title, label, .user_name{
  color: #027b71;
}


// チャット画面
.chat-bubble {
  max-width: 70%;
  word-wrap: break-word;
}

.my-chat {
  justify-content: flex-end;
}

.left-row {
  justify-content: flex-start;
}


// フォームのレイアウトを崩さないようにする
.field_with_errors {
  display: contents;
}



// 文字サイズ変更
@media (min-width: 992px) {
 label {
   font-size: 1.0rem;
 }
}
// 中デバイス（タブレット, 992px 未満）
@media (max-width: 991.98px) {
 label {
   font-size: 1.0rem;
 }
}
// 小デバイス（横向きモバイル, 768px 未満）
@media (max-width: 767.98px) {
 label, .material_text, .material_list_title, .material_amount, #comment_counter, .comment_list, .comment_text, .recipe_instructions {
   font-size: 1.0rem;
 }
}
// @include media-breakpoint-up(sm) {
// 極小デバイス（縦向きモバイル, 576px 未満）
@media (max-width: 575.98px) {
 label,.card-title, .material_amount, .post_title, h4,h5 {
   font-size: 1.0rem;
 }
}

@media (max-width: 575.98px) {
 p, .user_name, .introduction, .material_list_title,
 .material_name, .material_amount, #comment_counter,
 .comment_list,.comment_text, .recipe_instructions,
 .follow_count, .btn{
   font-size: 0.7rem;
 }
}