@use '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Sacramento&display=swap');

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fffbfa;
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
  color: #696969;
}

.notice{
  background-color: #ccffe2;
  color:#3eb370;
}

.alert{
  color: #ff0000;
}

footer {
  margin-top: auto;
}

.card{
  background-color: #fffef7;
  border: 0.3px solid #a2d7dd;
}


// ボタン、リンク色変更
.button_radio{
  margin-right: 10%;
}

.links{
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  color: #9d9d82;
}

.posted_button{
  display: flex;
  justify-content: center;
}

.btn_add{
  background-color: #9d9d82;
  color: #fff;
}
.btn_add:hover{
  background-color: #D6917E;
  color: #fff;
}

.btn_post, .btn_sign_up{
  background-color: #9cbf68;
  color: #fff;
}
.btn_post:hover, .btn_sign_up:hover{
 background-color: #78E3B1;
  color: #fff;
}

.btn_delete{
  background-color: #a6175a;
  color: #fff;
}
.btn_delete:hover{
  background-color: #EB0E8F;
  color: #fff;
}


.btn_without, .btn_follow, .btn_sign_in, .btn_search{
  background-color: #87b2d9;
  color: #fff;
}
.btn_without:hover, .btn_follow:hover, .btn_sign_in:hover, .btn_search:hover{
  background-color: #B5DDEC;
  color: #fff;
}


.btn_followed{
  background-color: #a2d7dd;
  color: #fff;
}
.btn_followed:hover{
  background-color: #ccf9ff;
  color: #6b9499;
}


.btn_geust{
  background-color: #aeb1a9;
  color: #fff;
}
.btn_geust:hover{
  background-color: #9d9d87;
  color: #fff;
}


.btn_likes{
  color: #98514B;
  border: solid 1px #98514B;
}
.btn_likes:hover{
  background-color: #98514B;
  color: #fff;
}


.btn_chat, .btn_return{
  color: #9d9d87;
  border: solid 1px #9d9d87;
}

.btn_chat:hover, .btn_return:hover{
  background-color: #9d9d87;
  color: #fff;
}



// 文字色変更
.name_link, .card-title, label, .user_name{
  color: #027b71;
}


// チャット画面
.chat-bubble {
  max-width: 70%;
  word-wrap: break-word;
}

.my-chat {
  justify-content: flex-end;
}

.left-row {
  justify-content: flex-start;
}


// その他（文字位置など）
.custom_text{
  display: grid;
  justify-content: center;
}

.notification-badge {
  background-color: #FF8339;
  color: white;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7em;
  position: absolute;
  top: -5px;
  right: 1px;
}


//ページネーション
.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #3e8d92;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}
.pagination {
  justify-content: center;
}
.page-item.active .page-link {
  background-color: #e9c9d5 !important;
}


// フォームのレイアウトを崩さないようにする
.field_with_errors {
  display: contents;
}



// 文字サイズ変更
@media (min-width: 992px) {
 label {
   font-size: 1.0rem;
 }
}
// 中デバイス（タブレット, 992px 未満）
@media (max-width: 991.98px) {
 label {
   font-size: 1.0rem;
 }
}
// 小デバイス（横向きモバイル, 768px 未満）
@media (max-width: 767.98px) {
 label, .material_text, .material_list_title, .material_amount, #comment_counter, .comment_list, .comment_text, .recipe_instructions {
   font-size: 1.0rem;
 }
}
// @include media-breakpoint-up(sm) {
// 極小デバイス（縦向きモバイル, 576px 未満）
@media (max-width: 575.98px) {
 label,.card-title, .material_amount, .post_title, h4,h5 {
   font-size: 1.0rem;
 }
}

@media (max-width: 575.98px) {
 p, .user_name, .introduction, .material_list_title,
 .material_name, .material_amount, #comment_counter,
 .comment_list,.comment_text, .recipe_instructions,
 .follow_count, .btn,.user_status, .text-success,
 .text-muted, .pagination{
   font-size: 0.7rem;
 }
}

@media (max-width: 769.98px) {
  .name_link,.footer_link{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
}