@use '~bootstrap/scss/bootstrap';


body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

.button_radio{
  margin-right: 10%;
}

.side_link{
  margin-left: 30%;
}

#comment_counter{
  margin-left: 50%;
  line-height: 50px;
}

.user_name, .edit_btn{
  padding-top: 5%;
}
.links, .post_btn{
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}