<div class="row justify-content-center">
  <div class="col-11 col-md-10 my-5">
    <h4>お問い合わせ一覧</h4>
    <% if @inquiry.exists? %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>お問い合わせ内容</th>
            <th>お問い合わせ状況</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= link_to inquiry_path(inquiry) do %>
                <%= @inquiry.title %>
              <% end %>
            </td>
            <td>
              <% if @inquiry.answered? %>
                <span class="text-success"><strong>回答済</strong></span>
              <% else %>
                <span class="text-muted"><strong>未回答</strong></span>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    <% else %>
      <p>お問い合わせしていません。</p>
    <% end %>
  </div>
</div>