<h4 class="text-center">問い合わせ詳細</h4>
<div class="row justify-content-center">
  <div class="card col-11 col-md-10 col-lg-6 my-5">
    <div class="row my-3">
      <span class="col-6">問い合わせの内容</span>
      <span class="col-6"><%= @inquiry.title %></span>
    </div>
    <div class="row mb-3">
      <span class="col-6">問い合わせの詳細</span>
      <span class="col-6"><%= @inquiry.message %></span>
    </div>
    <div class="row my-3">
      <span class="col-6">問い合わせ状況</span>
      <span class="col-6">
        <% if @inquiry.answered? %>
          <span class="text-success"><strong>回答済</strong></span>
        <% else %>
          <span class="text-muted"><strong>未回答</strong></span>
        <% end %>
      </span>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-11 col-md-10 col-lg-6 text-right">
    <%= link_to "問い合わせ一覧に戻る", inquiries_path, class: "btn btn_return" %>
  </div>
</div>