<table class="table w-100">
  <thead>
    <tr>
      <th class="w-30"></th>
      <th class="w-40">ユーザー</th>
      <th class="w-30"></th>
      </th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td class="text-center pt-4"><%= user.id %></td>
        <td>
          <%= link_to admin_user_path(user) do %>
            <%= image_tag user.get_profile_image, size: "50x50", style: 'border-radius: 50%', class: "border border-dark-subtle" %>
            <span class="user_name"><%= user.name %></span>
          <% end %>
        </td>
        <td>
          <% if user.is_active? %>
            <p class="text-center text-success pt-3"><strong>有効</strong></p>
          <% else %>
            <p class="text-center text-muted pt-3"><strong>退会</strong></p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>