<div class="row justify-content-center my-5">
  <div class="col-12 col-md-10 card">
    <%= render 'index', users: @users %>
  </div>
</div>
<div class="row justify-content-center mb-5">
  <div class="col-6">
    <%= paginate @users %>
  </div>
</div>