<div class="row justify-content-center">
  <div class="col-11 col-md-8 col-lg-6 col-xl-5">
    <h4 class="text-center my-5">通知一覧</h4>
    <div class="mb-3">
      <% if @notifications.present? %>
        <% @notifications.each do |notification| %>
          <%= render notification.action_type, notification: notification %>
        <% end %>
        <span class="d-flex justify-content-end">
          <%= link_to "全削除", notification_path(@notifications), method: :delete, class: "btn btn_delete" %>
        </span>
      <% else %>
      <span class="d-flex justify-content-center">通知はありません</span>
      <% end %>
    </div>
    <div class="col-12">
      <%= paginate @notifications %>
    </div>
  </div>
</div>