<div class="p-3 text-center"style="background-color: #e9c9d5;">
  <%= link_to "Oshi Lifeについて", about_path, class: "mx-3", style: "color: #3e8d92;" %>
  <span class="mx-3" style= "color: #3e8d92;">©Oshi Life.inc</span>
  <%= link_to "プライバシーポリシー", privacy_path, class: "mx-3", style: "color: #3e8d92;"  %>
</div>