<div class="my-2">
  <%= link_to my_page_path,style: "color: #98514B;" do %>
    <i class="fa-solid fa-user"></i> マイページ
  <% end %>
</div>
<div class="my-2">
  <%= link_to new_post_path,style: "color: #98514B;" do %>
    <i class="fa-solid fa-pen"></i> 新規投稿
  <% end %>
</div>